*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}
#container1{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    border-bottom: solid 1px #e6dede;
    width: 100%;
    height: 60px;
}


#navbarLeft {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}
#navbarLeft ul{
    display: flex;
    justify-content: space-between;

}
#navbarLeft ul li {
    list-style: none;
    margin: 15px;
}

#navbarLeft ul li span{
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: bolder;
    cursor: pointer;
    
 }
 
 #sub-navigation-B{
    position: absolute;
    background-color: white;
    border: 1px solid #f6eeee;
    width: 50%;
    height: 71%;
    border-radius: 7px;
    padding: 10px;
    display: none;
    cursor: pointer;
    z-index: 10;
}
#container1 ul li:hover #sub-navigation-B{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}
#sub-navigation-BA{
    position: absolute;
    background-color: white;
    border: 1px solid #f6eeee;
    width: 50%;
    height: 40%;
    border-radius: 7px;
    padding: 10px;
    display: none;
    cursor: pointer;
    z-index: 10;
}
#sub-navigation-BA > div{
    width: 30%;
    height: 50%;
    margin-top: 6%;
}
#container1 ul li:hover #sub-navigation-BA{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#sub-navigation-B > a{
    margin: 18px;
}
.tableDiv{
    position: absolute;
    background-color: white;
    border: 1px solid #f6eeee;
    width: 51%;
    height: 60%;
    border-radius: 7px;
    padding: 10px;
    display: none;
    cursor: pointer;
    z-index: 10;
}
th,td{
    padding: 5px 15px;
}
td{
    color: grey;
    
}
#container1 ul li:hover .tableDiv{
    display: block;
    cursor: pointer;
}

#search{
    height: 40px;
    border-radius: 5px;
    width: 219px;
    background-color: #f4f4f4;
    border: none;
    border: 1px solid #e3d8d8;
    padding-left: 20px;
    margin-right: 10px;
} 
.btn{
    width: 80px;
    height: 40px;
    border-radius: 7px;
    background-color: #E80071;;
    color: white;
    border: none;
    text-align: center;
    font-weight: 150;
    margin-right: 30px;
}
#container2 ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container2 ul li {
    list-style: none;
    margin: 10px;
}

#container2 ul li a{
    text-decoration: none;
    font-size: 15px;
    color: rgba(3, 2, 26, 0.6);
    font-size: 15px;
    
 }
 .imgContainer{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 1;
    margin: 20px;
 }
 .container{
    width: 25%;
 }
 .container p{
    font-size: 18px;
    color: #363333;
 }
 .gc1{
    width: 32%;
    border-radius: 10px;

}
.headerDiv{
    margin: 18px;
    border-bottom: 1px solid #e6dede;
    padding: 10px;
}
.headerDiv > p{
    font-size: 18px;
    color: #363333;
}

.gc2{
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}
.title-text{
    color: rgb(0, 19, 37);
    font-size: 20px;
    font-family: Inter;
    letter-spacing: 0rem;
    font-weight: 600;
    text-align: left;

}
.child5{
    margin-top: 50px;
    text-align: center;
}
.child6{
    width: 100%;
    margin-top: 50px;
}
.child7{
    width: 100%;
}


.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
      
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    
    &:hover {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }
    
    &:active {
      background-color: #eeeeee;
    }
    
    &:focus {
      outline: none;
      box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
    }
    
    &:disabled {
      filter: grayscale(100%);
      background-color: #ebebeb;
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
      cursor: not-allowed;
    }
  }

  .slideshow-container {
    /* max-width: 599px; */
    position: relative;
    margin: auto;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.1s ease;
  }
  
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

  .fa-bag-shopping:before, .fa-shopping-bag:before{
    font-size: 17px;
    background:white;
    content: "\f290";
    position: absolute;
    top: 23px;
    margin-left: -15px;
    }

@media screen and (min-width:767px) and (max-width:1023px){
        #navbarLeft ul li {
            list-style: none;
            margin: 5px;
        }
        *{
           
            overflow-x: visible;
        }
        #sub-navigation-B{
            width: 75%;
            height: 90%;
            padding: 5px;
        }
        #sub-navigation-B > a{
            margin: 10px;
        }
        .tableDiv{
            width: 67%;
            height: 80%;
            padding: 5px;
        }
        th,td{
            padding: 4px 9px;
        }
        #search{
            height: 35px;
            width: 150px;
            padding-left: 5px;
            margin-right: 5px;
        } 
        .btn{
            width: 60px;
            height: 30px;
            font-weight: 150;
            margin-right: 15px;
        }
        #container2 ul li {
            margin: 5px;
        }
        
        #container2 ul li a{
            font-size: 13px;
        }
        
    }


@media screen and (max-width:767px)  {
    #navbarLeft ul li {
        list-style: none;
        margin: 2px;
    }
    *{
        overflow-x: visible;
    }
    #sub-navigation-B{
        width: 70%;
        height: 90%;
        padding: 3px;
    }
    #sub-navigation-B > a{
        margin: 3px;
    }
    .tableDiv{
        width: 70%;
        height: 75%;
        padding: 1%;
    }
    th,td{
        padding: 1px 1px;
    }
    #search{
        height: 35px;
        width: 60px;
        padding-left: 1px;
        margin-right: 3px;
    } 
    .btn{
        width: 40px;
        height: 30px;
        font-weight: 150;
        margin-right: 2px;
    }
    #container2 ul li {
        margin: 3px;
    }
    
    #container2 ul li a{
        font-size: 11px;
    }
}
